#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

ifneq (,$(filter alpha hppa ia64,$(DEB_HOST_ARCH)))
OPTS=--disable-hardening
endif
override_dh_auto_configure:
	dh_auto_configure -- $(OPTS)\
		--disable-static \
		--disable-doc \
		--enable-strmax=0x8000
